body {
  background-color: #135e8a;
}

.outer-container {
  background: linear-gradient(-30deg, #135e8a, 10%, #d4e5f3);
  border: 2px solid #000;
  padding: 1rem;
}

.site-header-container {
}

.site-header {
  letter-spacing: 0.2rem;
  text-align: center;
}

.link-title {
}

.link-list {
  list-style-type: none;
}

.link-list-item {
}
.link-list-item-container {
  a {
    display: inline-block;
  }
}
.link-date {
  display: inline-block;
  letter-spacing: 0.13rem;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0.5rem 1rem;
}
